*

!/README.md
!/.gitignore

!/pyproject.toml

!/src/
!/src/minigen/
!/src/minigen/__init__.py

!/src/minigen/cli/
!/src/minigen/cli/main.py
!/src/minigen/cli/fasta.py

!/src/minigen/core/
!/src/minigen/core/fasta/
!/src/minigen/core/fasta/io.py
!/src/minigen/core/fasta/utils.py
