*

!/README.md
!/.gitignore

!/pyproject.toml

!/src/
!/src/minigen/
!/src/minigen/__init__.py
!/src/minigen/cli.py

!/src/minigen/commands/
!/src/minigen/commands/*.py

!/src/minigen/core/
!/src/minigen/core/*.py

!/src/minigen/io/
!/src/minigen/io/*.py

!/src/minigen/utils/
!/src/minigen/utils/*.py